.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.accordian {
  width: 500px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  margin-top: 8px;
  color: #ffffff;
  height: auto;
}

.wrapper .button {
  padding: 10px 20px;
  color: #ffffff;
  background: #614101;

  border: none;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}
